

.btn-purple {
    background-color: #89763f; 
    border-color: #bea457;
    color: #fff; /* Color del texto en blanco */
  }
  
  .btn-purple:hover {
    background-color: #a8813e; 
    border-color: #a0a53c;
    color: #fff; /* Color del texto en blanco */
  }